{#
 This file is part of the Related Product plugin

 Copyright(c) 2000-2016 LOCKON CO.,LTD. All Rights Reserved.
 http://www.lockon.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}
<div id="related_product_area" class="row">
    <div class="col-sm-12">
        <h2 class="heading03">Plugin</h2>
        <div class="related_product_carousel">
            Checkin Plugin
        </div>
    </div>
</div>
